*{margin:0 auto; padding:0; box-sizing: border-box;}
.hidden{display:none}
.active{background-color: deepskyblue;}


body{display:flex; flex-direction: column}
header{padding:20px 0px; border-bottom:2px solid #eee; width:100%; text-align: center;}
main{border-bottom: 2px solid #eee; width:100%;}
    main h1{text-align: center; width:100%; padding:50px 0px; }
    main .wrap{max-width:1200px; display: flex; align-items: flex-start;}
    main .columnContain{width:20%; padding:5px;}
        main .columnContain .item{width:100%; border-radius: 10px; border:2px solid black; overflow: hidden; cursor:pointer; margin-bottom:10px}
        main .columnContain .item img{display:block; width:100%}
        main .columnContain .item span{display:block; width:100%; padding:10px 10px 20px 10px; font-size:18px; font-weight: bold; border-top:2px solid black; background-color: white;}